language: java
jdk:
- oraclejdk8
deploy:
  provider: heroku
  api_key:
    secure: b2En/KdOkApXf029nQcokiA/05YBJdo3M9oAnxuS8rFK6HO5ckieJB3Uic+znYcSeP2avbbVLCeevbVwHUFcx0XWJUNrCGP10kseG8jjiQicU++WtlROEKNthJPfoVtcgj5b1LoFTjgqdcBRlEMfQjTvzNxhXRHva0UcEA93NYbVLTZOb8SQ0+rugwHadmiBxXM07SoB8sP6RHK2urrCxUHxFuSV7sxPhpnT5xs7SeX5Yjo+4gez/tyf+ZiN8h0LIxPh4ZK+x/ydzfwZI0x9Tx8sBIWz4zt85TMktzTNPqJVK8+EhfpNoof61CbAYaD95FhVo3L7xZdlW56gR0d21b0j0AfvLWdE4TtJjj3tVwDlAbbrJUtmk9xmyzledOX8Ss6mirngrkUZomERBmTS0LQOcqb0Qhf7kJCeB5e2LGf1ts6xctAG+owXTv9u3SSw6f/FTBSOOTIkjJ7MEGSv1VzFhRRj8YGmx8/jkMl4CRLs6iC2eoQe8Inq499gSvjClr6TsRozCr0PjPq7qoxmtOuoLGbZAu7g/w8VpuywCR04d63e+gbbtoGA57oOozTmoPTOqK55Sv5meyO9aAhpK0cIUhLN9a4XUd/BqCsWu3G85f7KWf2OjGkJ5hrXyLxciR2sdwzM3hQ3k4NaB7JG88aDu6nzB31Eg4uPW5NN03U=
  app: heroku-sales-force
  on:
    repo: sergiotorreslozano/heroku-sales-force
services:
  - postgresql
addons:
  postgresql: "9.4"
before_script:
  - psql -c 'create database herokusalesforcedb;' -U postgres
  - psql -c 'create schema if not exists public;' -U postgres
  - psql -c 'create schema if not exists salesforcedev;' -U postgres
  - psql -c "alter role postgres with password 'postgres';"
  - psql -c '
              CREATE TABLE salesforcedev.account
              (
                id bigint NOT NULL,
                _hc_err character varying(255),
                _hc_lastop character varying(255),
                createddate timestamp without time zone NOT NULL,
                lastmodifieddate timestamp without time zone,
                name character varying(255) NOT NULL,
                CONSTRAINT account_pkey PRIMARY KEY (id)
              )
              WITH (
                OIDS=FALSE
              );
              ALTER TABLE salesforcedev.account
                OWNER TO postgres;
          ' -U postgres